<div
  class="w-full mt-3 md:mt-[18px] xl:mt-11 h-full max-w-md md:max-w-none md:px-5 xl:px-0 xl:max-w-[1440px] mx-auto font-roboto font-medium xl:mb-24">
  <section class="p-5 pb-14 md:p-10 md:mb-[50px] xl:px-[100px] xl:pt-[100px] bg-white rounded-2xl h-full">
    <div>
      <h3 class="text-xl md:text-2xl xl:text-3xl border-gray-900 px-5 title" style="text-align: center;">
        {{'privacy.TITLE'|translate }}
      </h3>
      <p class="whitespace-pre-line mt-7" [innerHTML]="'privacy.DATE'|translate" style="text-align:right;"></p>
      <div class="whitespace-pre-line contentFontSize mt-7 wordWrape">
        <div>
          <div class="contentTitle">
            <p [innerHTML]="'privacy.TITLE_1'|translate"></p>
          </div>
          <div class="whitespace-pre-line subContent" [innerHTML]="'privacy.CONTENT_1'|translate">
          </div>
        </div>
      </div>
      <div class="whitespace-pre-line contentFontSize mt-7 wordWrape">
        <div>
          <div class="contentTitle">
            <p [innerHTML]="'privacy.TITLE_2'|translate"></p>
          </div>
          <div class="whitespace-pre-line subContent" [innerHTML]="'privacy.CONTENT_2'|translate">
          </div>
        </div>
        <div class="whitespace-pre-line contentFontSize mt-7 termsTitle">
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_1'|translate">
          </p>
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_2'|translate">
          </p>
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_3'|translate">
          </p>
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_4'|translate">
          </p>
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_5'|translate">
          </p>
          <p class="whitespace-pre-line contentFontSize mt-7 termsTitle" [innerHTML]="'privacy.CONTENT_2_6'|translate">
          </p>
        </div>
      </div>
      <div class="whitespace-pre-line contentFontSize mt-7 wordWrape">
        <div>
          <div class="contentTitle">
            <p [innerHTML]="'privacy.TITLE_3'|translate"></p>
          </div>
          <div class="whitespace-pre-line subContent">
            <table>
              <tr>
                <th rowspan="2" style="width: 2%;">No.</th>
                <th style="width: 49%;">{{'privacy.TITLE_3_1'|translate}}</th>
                <th style="width: 49%;">{{'privacy.TITLE_3_2'|translate}}</th>
              </tr>
              <tr>
                <th>(1)</th>
                <th>(2)</th>
              </tr>
              <tr>
                <td>1.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_1'|translate}}</strong><br>
                  {{'privacy.CONTENT_3_TITLE_1_1'|translate}}
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_1_1'|translate}}</td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_1_2'|translate}}</td>
              </tr>
              <tr>
                <td>2.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_2'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_2_1'|translate}}</td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_2_2'|translate}}</td>
              </tr>
              <tr>
                <td>3.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_3'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_3_1'|translate}}</td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_3_2'|translate}}</td>
              </tr>
              <tr>
                <td>4.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_4'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_4_1'|translate}}</td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_4_2'|translate}}</td>
              </tr>
              <tr>
                <td>5.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_5'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_5_1'|translate}}</td>
                <td class="tdData">{{'privacy.CONTENT_3_CONTENT_5_2'|translate}}</td>
              </tr>
              <tr>
                <td>6.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_6'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" class="tdData">
                  {{'privacy.CONTENT_3_CONTENT_6_1'|translate}}<br><br>
                  {{'privacy.CONTENT_3_CONTENT_6_2'|translate}}
                  <div style="padding-left: 2em;">
                    {{'privacy.CONTENT_3_CONTENT_6_2_1'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_2'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_3'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_4'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_5'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_6'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_7'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_8'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_9'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_10'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_11'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_12'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_13'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_14'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_15'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_16'|translate}}<br><br>
                    {{'privacy.CONTENT_3_CONTENT_6_2_17'|translate}}<br><br>
                  </div>
                </td>
              </tr>
              <tr>
                <td>7.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_7'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" class="tdData">
                  {{'privacy.CONTENT_3_CONTENT_7'|translate}}
                </td>
              </tr>
              <tr>
                <td>8.</td>
                <td colspan="2" class="tdData">
                  <strong>{{'privacy.CONTENT_3_TITLE_8'|translate}}</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="tdData" colspan="2" [innerHTML]="'privacy.CONTENT_3_CONTENT_8'|translate"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="whitespace-pre-line contentFontSize mt-7 wordWrape">
        <div>
          <div class="contentTitle">
            <p [innerHTML]="'privacy.TITLE_4'|translate"></p>
          </div>
          <div class="whitespace-pre-line subContent" [innerHTML]="'privacy.CONTENT_4'|translate">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
