<div class="w-full inline-flex justify-center">
  <div class="min-[1024px]:flex hidden justify-center bg-white w-fit p-2 rounded-full">
    <button
      *ngFor="let tab of tabs; let i = index"
      (click)="selectTab(i)"
      class="px-4 py-2 rounded-full transition-all duration-300"
      [ngClass]="{
        'bg-black text-white shadow-lg': activeIndex === i,
        'bg-white text-gray-600 hover:bg-gray-200': activeIndex !== i
      }"
    >
      {{ tab.label | translate }}
    </button>
  </div>
  <ng-container *ngIf="tabs.length > 0">
    <app-menu-accordion class=" min-[1024px]:hidden mx-4 block w-full" (buttonClicked)="selectTab($event)" [tabs]="tabs" [activeIndex]="activeIndex"/>
  </ng-container>

</div>

<div class=" px-4 xl:px-5  max-w-full m mx-auto mt-8 mb-[100px]">
  <ng-container *ngIf="tabs[activeIndex]">
    <div class="w-full min-[1024px]:!px-14 py-10 grid grid-cols-1 bg-white rounded-3xl md:grid-cols-4 xl:max-w-[1400px] mx-auto font-medium font-roboto mb-14 md:px-[20px] xl:px-0 xl:mb-24">
      <div class="col-span-5  min-[1024px]:col-span-1">
        <img [src]="handleImage(tabs[activeIndex])" class="w-full" alt="img">

      </div>
      <div class="col-span-5  min-[1024px]:col-span-3 p-4 min-[1024px]:pl-[80px]">
        <div class="bg-white rounded-2xl" *ngFor="let item of tabs[activeIndex].content; let i = index">
          <button class="w-full  flex justify-between items-center text-left md:text-2xl px-2 md:px-6 min-[1024px]:px-12 py-[24px] focus:outline-none" (click)="toggleAccordion(item.id)">
            <div class="How-to-Get-start py-2">
              {{ item.question | translate }}
            </div>
            <svg class="transition-transform duration-500 ease-in-out min-w-[24px]" [ngClass]="isPanelOpen[item.id] ? '' : 'rotate-180'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.3601 13.366C18.7506 13.7566 18.7506 14.3897 18.3601 14.7802C17.9695 15.1708 17.3364 15.1708 16.9458 14.7802L11.9961 9.8305L7.04635 14.7802C6.65582 15.1708 6.02266 15.1708 5.63213 14.7802C5.24161 14.3897 5.24161 13.7566 5.63213 13.366L11.289 7.70918C11.6795 7.31866 12.3127 7.31866 12.7032 7.70918L18.3601 13.366Z" fill="#1A1A1A"/>
            </svg>
          </button>
          <div [style.max-height.px]="isPanelOpen[item.id] ? panelMaxHeight : 0" class="overflow-hidden transition-max-height duration-500 ease-in-out overflow">
              <div class="break-words font-roboto font-normal leading-[22px] my-translated-paragraph py-4 md:pt-0 md:pb-[20px] px-2 md:px-6 min-[1024px]:px-12" [innerHTML]="item.answer | translate"></div>
          </div>
          <div class="h-[1px] bg-[#888C8F] w-full"></div>
        </div>
      </div>
    </div>

  </ng-container>
</div>
