.Line {
  display: none;
  width: 1px;
  // align-self: stretch;
  flex-grow: 0;
  // transform: rotate(-270deg);
  background-color: rgb(255 255 255 / var(--tw-text-opacity));
  height: 20px;
}

@media (min-width: 1440px) {
  .Line {
    display: block;
  }
}
