<div class="h-full bg-90%">
  <div class="mx-4 md:ml-[50px] md:mr-5 xl:ml-[10px] mb-6 md:mb-[50px]">
    <h2 class="Frequently-Asked-Questions font-bold mt-12 md:mt-14 xl:mt-[100px] mb-3 text-3xl md:text-7xl xl:text-7xl  ">
      {{ 'FAQ.Title' | translate }}
    </h2>
    <div class="text-center text-sm">{{'FAQ.TitleSub1' | translate }}

    </div>
    <div class="text-center text-sm">
      <span >{{'FAQ.TitleSub2' | translate }}</span>
    <span class="font-bold"> {{'FAQ.TitleSub3' | translate }}</span>
    </div>
  </div>
  <app-accordion></app-accordion>
</div>
